* {
  box-sizing: border-box;
  font-family: "Bree Serif", serif;
  font-weight: normal;
}

#root {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
  background: #818388 url("../images/background-packApp-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

a:hover {
  cursor: pointer;
}

.logout {
  cursor: pointer;
}

h1,
h3,
h4 {
  color: white;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 75px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 20px;
}

h2 {
  font-family: "Pacifico", cursive;
  color: black;
  text-align: center;
  font-size: 48px;
  margin: 0px;
  padding: 5px;
}

h5 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 48px;
  margin: 0px;
  padding: 5px;
}

.container-app {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  align-content: space-around;
  -webkit-align-items: space-around;
  padding-bottom: 100px;
  margin: 0;
  height: 100%;
}

.item-landing-1,
.item-landing-2 {
  background-color: rgba(0, 0, 0, 0.22);
  padding: 10px 20px 10px 20px;
}

.item-landing-1 {
  opacity: 0.9;
  position: absolute;
  top: 55%;
  left: 0px;
  line-height: 70px;
  width: 58%;
}

.item-landing-2 {
  position: absolute;
  top: 55%;
  right: 0px;
  width: 37%;
}

.item-title {
  text-align: right;
}

.item-auth,
.item-dashboard,
.item-create,
.item-view {
  position: relative;
  margin-top: 900px;
  text-align: center;
  background-color: #929396;
  width: 85%;
}

.item-about {
  padding: 20px;
  position: relative;
  top: 900px;
  text-align: center;
  background-color: #929396;
  width: 70%;
  box-shadow: 2px 2px 6px #3b3c3f;
  border: 1px solid #dfe0e2;
}

.item-auth {
  width: 35%;
}

.form-button:hover,
.form-button a:hover {
  color: #929396;
  cursor: pointer;
}

.landing-links li {
  font-size: 33px;
  color: white;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.landing-links a:after {
  color: white;
  content: "<";
  position: absolute;
  padding: 5px;
}

.landing-links a:hover::after {
  color: black;
  text-shadow: none;
}

.animate a:hover::after {
  color: black;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}

.up a:hover {
  color: black;
}

.shadow {
  text-shadow: 2px 2px 2px #000000;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
}

.ital {
  font-style: italic;
  font-size: 125%;
  font-family: "Pacifico", cursive;
  padding-left: 5px;
  padding-right: 5px;
  color: #f1e9db;
}

.icon {
  position: relative;
  margin-right: 10px;
}

.big {
  padding: 0px 10px 10px 10px;
  font-size: 25px;
}

i:hover {
  color: white;
}

.bree-font {
  font-family: "Bree Serif", serif;
  font-weight: normal;
}

button {
  color: black;
  height: 25px;
  margin: 15px;
}

.nav li {
  display: inline;
  padding: 15px 35px 15px 15px;
  font-size: 28px;
}

.item-nav {
  background-color: #dfe0e2;
  margin-top: 50px;
}

.nav,
.nav a,
.fas,
.fas a {
  color: black;
}

.fas:hover,
.fas a:hover {
  color: white;
  cursor: pointer;
}

.nav:hover,
.nav a:hover {
  color: #818388;
}

.item-dashboard,
.item-view,
.item-create {
  border: 1px solid #dfe0e2;
  padding: 10px;
  width: 50%;
  box-shadow: 2px 2px 6px #3b3c3f;
}

.item-create {
  border: 1px solid #dfe0e2;
  padding: 10px;
}

.packlist-title {
  color: #f1e9db;
  border-top: 1px solid #dfe0e2;
  padding-top: 5px;
}

.packlist-date {
  font-size: 20px;
}

.view-list {
  text-align: left;
  font-size: 25px;
}

.item-snippet {
  margin-bottom: 8px;
}

.item-fields ul,
.item-fields i {
  font-size: 16px;
}

.add-form {
  background-color: #f1e9db;
  color: black;
  padding: 10px;
  text-align: center;
  margin: 10px;
}

.title-bg {
  background-color: #f1e9db;
  box-shadow: 2px 2px 6px #3b3c3f;
  margin-top: 15px;
  margin-bottom: 15px;
}

.center-i {
  flex-basis: 100%;
}

.form {
  background-color: #f1e9db;
  color: black;
  padding: 20px;
  text-align: center;
}

input {
  height: 30px;
  width: 50%;
}

.loader {
  background-color: #dfe0e2;
  padding: 100px;
  color: #818388;
}

.error {
  background-color: #dfe0e2;
  padding: 100px;
  color: black;
}

.pack-list-items {
  color: #f1e9db;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 1499px) {
  html {
    background: #818388 url("../images/background-itinerator.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container-app {
    display: flex;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    align-content: space-around;
    -webkit-align-items: space-around;
    padding: 0px;
    margin: 25px;
  }

  .item-landing-1,
  .item-landing-2 {
    padding: 10px 20px 10px 20px;
    position: relative;
    top: 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
    background-color: none;
  }

  .nav li {
    padding-left: 20px;
  }

  h1 {
    font-size: 55px;
    text-align: center;
  }
  h3 {
    font-size: 28px;
    text-align: center;
  }

  .item-landing-1 {
    opacity: 0.9;
    line-height: normal;
  }

  .item-title {
    text-align: right;
  }

  .item-about,
  .item-auth,
  .item-dashboard,
  .item-create,
  .item-view {
    position: relative;
    top: 0px;
    text-align: center;
    background-color: #929396;
    box-shadow: 2px 2px 6px #3b3c3f;
    border: 1px solid #dfe0e2;
    padding: 10px;
    margin: 25px;
    width: 65%;
  }

  .landing-links li {
    font-size: 26px;
    color: white;
  }

  h2 {
    font-size: 36px;
  }

  p {
    font-size: 22px;
  }
}

@media only screen and (max-width: 572px) {
  .nav li {
    display: block;
    padding: 2px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1082px) {
  .nav li {
    padding: 2px;
    font-size: 23px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 797px) {
  .item-about,
  .item-auth,
  .item-dashboard,
  .item-create,
  .item-view {
    width: 95%;
  }
}

@media only screen and (max-width: 572px) {
  .nav li {
    display: block;
    padding: 2px;
    font-size: 20px;
  }
}
